body {
    margin: none;
    padding: none;
    background-color: rgb(255, 244, 226);
}
header {
    display: inline-block;
    padding: none;
    margin: none;
    min-width: 700px;
}
.splash-container {
    background-size: 100%;
    margin: none;
    padding: none;
    white-space: none;
}
.splash {
    z-index: 6;
    background-size: 100%;
    font-family: monospace;
    margin: none;
    padding: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(40, 80, 97);
    color: rgb(249, 222, 187);

    width: 125%;
    height: 125%;
    left: -10px;
    top: -10px;
    font-size: 25px;
    opacity: 85%;

    cursor: pointer;
}
.splash.clicked{
    display: none;
}
#welcome {
    position: absolute;
    font-size: 74px;
    margin-top: 50px;
    margin-left: 60px;
    font-weight: 200;
    margin-right: 70%;
}
#info {
    position: absolute;
    margin-top: 150px;
    display:flex;
    justify-content: center;
    font-weight: 50;
    top: 200px;
    margin-left: 50px;
    margin-right: 55%;
    margin-bottom: 500px;
}
// .continue-button
:hover#welcome {
    color:rgb(255, 202, 175); 
}
:hover#info {
    color:rgb(255, 202, 175); 
}
.logo img {
    width: 25%;
}
/* BOTH BOXES */
.info-and-tag {
    white-space: nowrap;
}
.track-info {
    display: inline-block;
    font-family: sans-serif;
    color: aliceblue;
    font-weight: bold;
    font-size: 10px;
    width: 19%;
    height: 25%;
    max-height: 40px;
    box-shadow: 0 7px 5px -4px rgba(12, 248, 252, 0.3);
    background-color: rgb(151, 210, 235);
    padding: 5px 25px;
    border-radius: 25px;
    overflow: hidden;
}
.waveform {
    margin-top: 10px;
    z-index: 1;
    background: rgb(249, 222, 187);
    width: 38%;
    height: 130px;
    box-shadow: 0 5px 5px -4px rgba(12, 248, 252, 0.3);
    padding: 5px 25px;
    margin-right:3px;
    border-radius: 25px;
}
.bpm-container {
    position: relative;
    left: 125px;
    top: -47px;
    padding-left: 10px;
    height: 22px;
    width: 50px;
    background-color: rgb(151, 210, 235);
    border-radius: 10px;
}
.bpm {
    font-size: 12px;
    color: aliceblue;
    position: relative;
    left: -5px;
    top: 4.5px;
    display: flex;
    justify-content: center;
}
.wave-text {
    margin: 0;
    padding: 0;
    display: inline-block;
    z-index: 5;
    position: relative;
    color: aliceblue;
    top: -5.5px;
    left:12px;
    font-size: 11px;
    font-weight: bold;
}
.wave-text-background {
    background-color: rgb(151, 210, 235);
    border-radius: 10px;
    max-height: 22px;
    max-width: 110px;
    margin-top: 8px;
    margin-left: -9px;
    margin-right: -9px;
}
.upload {
    position: relative;
    display: inline-block;
    top: -8px;
    left: 3px;
    border: 0px;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
    font-size: 10px;
    min-width: 55px;
    max-width: 5.5%;
    min-height: 34px;
    border-radius: 35px;
    background-color: rgb(151, 210, 235);
    box-shadow: 0 7px 5px -4px rgba(12, 248, 252, 0.3);
}
.upload .btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
    left: 0px;
    cursor: pointer;
}
/* TOP BOX */
.track-info .track-name {
    position: relative;
    top: -1px;
    left: -7px;
}
.track-info .artist-name {
    position: relative;
    left: -7px;
}
.wave-text-background {
    background-color: rgb(151, 210, 235);
    border-radius: 10px;
    max-height: 22px;
    max-width: 110px;
    margin-top: 8px;
    margin-left: -9px;
    margin-right: -9px;
}
.waveform-slider {
    white-space: nowrap;
    position: relative;
    top: -25px;
}
.waveform-slider .waveform {
    display: inline-block;
}
.waveform-slider .side-slider {
    display: inline-block;
}
.player {
    z-index: 3;
    position: relative;
    top: 0px;
    left: 0px;
    min-width: 100px;
}
/* VOLUME-SLIDER-RELATED */
.side-slider {
    transform-origin: top left;
    position: relative;
    left: -60px;
    top: -43px
}
.side-slider #track-range {
    width: 140px;
    appearance: none;
    background:rgb(249, 222, 187);
    box-shadow: 0 -5px 5px -4px rgba(12, 248, 252, 0.3);
    padding: 1px;
    border-radius: 10px;
}
.side-slider #track-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background:rgb(151, 210, 235);
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
input[id="track-range"] {
    transform: rotate(270deg);
 }
.side-slider #track-speed {
    width: 140px;
    appearance: none;
    background:rgb(249, 222, 187);
    box-shadow: 0 -5px 5px -4px rgba(12, 248, 252, 0.3);
    padding: 1px;
    border-radius: 10px;
    position: relative;
    left: -125px;
}
.side-slider #track-speed::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background:rgb(151, 210, 235);
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
input[id="track-speed"] {
    transform: rotate(270deg);
}
.side-slider .fa-solid {
    position: relative;
    left: -50px;
}
.audio-buttons {
     display: inline-block;
     position: relative;
     top: 3px;
     left: 7px;
     cursor: pointer;

 }
.audio-buttons .play-button .fa-circle-pause {
    display: none;
}
.audio-buttons .play-button.playing .fa-circle-pause {
    display: inline-block;
    color:rgb(151, 210, 235);
}
.audio-buttons .play-button.playing .fa-circle-play {
    display: none;
}
.fa-regular {
    color: rgb(249, 222, 187);
 }
.hot-cues {
    display: inline-block;
    position: relative;
    left: 17px;
    top: -16px;
    cursor: pointer;
}
.hot-cues .hot-cue-2 {
    position: relative;
    left: 10px;
}
.hot-cues .hot-cue-1.clicked .fa-solid {
    color:rgb(151, 210, 235);
}
.hot-cues .hot-cue-2.clicked .fa-solid {
    color:rgb(151, 210, 235);
}
.fa-solid {
    color: rgb(249, 222, 187);
 }
 .reset-cues {
     display: inline-block;
     position: relative;
     left: -41px;
     top: 22px;
 }
 .reset-cues .reset-cue-2 {
    position: relative;
    left: 12.5px;
 }
:hover.fa-regular{
    color:rgb(255, 202, 175);
}
:hover.fa-solid{
    color:rgb(255, 202, 175);
}
button {
    border-radius: 5px;
    color: rgb(249, 222, 187);
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    background: none;   
    font-size: 10px;
    // background-color: hsl(31, 100%, 90%);
    padding: 0;
    border: none;

}
.looper {
    display: inline-block;
    position: relative;
    padding: 0;
    border: none;
    top: -41px;
    left: -154px;
}
.loop-in {
    position: relative;
    left: -8px;
}
:hover.loop-in {
    color:rgb(255, 202, 175);
}
:hover.loop-out {
    color:rgb(255, 202, 175); 
}
.clear-loop {
    position: relative;
    left: 7px;
}
:hover.clear-loop {
    color:rgb(255, 202, 175);
}
.toggle {
    color: rgb(254, 240, 225);
}
.toggle {
    position: relative;
    top: 2px;
    left: 25px;
}
.toggle.clicked {

}
:hover.toggle {
    color:rgb(255, 202, 175);
}
.loop-in.clicked {
    color: rgb(151, 210, 235)
}
.loop-out.clicked {
    color: rgb(151, 210, 235)
}
.clear-loop {

}